html {
    font-size: 16px;
}

header {
    background: #ff8a00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header>h1>a>img {
    width: 9rem;
    height: 3.34rem;
}

header>.icon>a>img {
    width: 2.23rem;
    height: 2.29rem;
    margin-left: 1.2rem;
}

/* ------------------------ */
.find {
    height: 2.36rem;
    line-height: 2.36rem;
    background: #ffffff;
    border-bottom: 1px solid #c5c5c5;
    padding-left: 1.15rem;
}

.find>p>strong {
    font-size: 1.2rem;
}

.find>p>span {
    font-size: .7rem;
}

/* --------ul    li--------------------- */
ul>li {
    height: 3.43rem;
    line-height: 3.43rem;
    border-bottom: 1px solid #dcdcdc;

}

.mima {
    position: relative;
}

ul>li:nth-of-type(1)>span {
    position: absolute;
    top: 0.25rem;
    right: 2.16rem;
    text-align: center;
    border: 1px solid #dcdcdc;
    padding: 0.08rem 0.1rem;
    font-size: 1rem;
    box-sizing: border-box;
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
}

section>form>ul>li>input {
    border: none;
    outline: none;
    padding-left: 1.14rem;
}

/* ----------提交----------------- */
.tijiao {
    width: 21rem;
    height: 2.48rem;
    background: #ff8a00;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 0.18rem;
    margin-top: 1.14rem;
    margin-left: 1.1rem;
}